<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Base Translator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/skeleton.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="four columns">
            <label for="binary">Binary</label>
            <textarea class="u-full-width" id="binary" placeholder="binary"></textarea>
            <button>decode</button>
        </div>
        <div class="four columns">
            <label for="decimal">Decimal</label>
            <textarea class="u-full-width" id="decimal" placeholder="decimal"></textarea>
            <button>decode</button>
        </div>
        <div class="four columns">
            <label for="Hexadecimal">Hexadecimal</label>
            <textarea class="u-full-width" id="hexadecimal" placeholder="hexadecimal"></textarea>
            <button>decode</button>
        </div>
    </div>
    <div class="row">
        <label for="text">Text</label>
        <textarea class="u-full-width" id="text" placeholder="text"></textarea>
        <button>encode</button>
    </div>
</div>

<script src="/javascript/ajax.js"></script>
</body>
</html>