<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Base Translator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            {% for item in menuItems %}
            <li class="navbar-item"><a class="navbar-link" href="{{item.href}}">{{item.text}}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 2%">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>